<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="com.atguigu.crud.bean"/>
	</typeAliases>

	<!-- 下面的拦截器是按从上往下的顺序执行的 -->
	<plugins>
		<!-- 分页插件 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--分页参数合理化  -->
			<property name="reasonable" value="true"/>
		</plugin>
		<!-- 自定义的sql拦截器 -->
		<plugin interceptor="com.atguigu.crud.interceptor.SQLStatsInterceptor">
			<property name="dialect" value="mysql22test" />
		</plugin>
	</plugins>

</configuration>

